In [1]:
!pip install -q fastai --upgrade

     |████████████████████████████████| 189 kB 5.2 MB/s
     |████████████████████████████████| 56 kB 5.1 MB/s

In [2]:
from fastai.tabular.all import *

In [3]:
df = pd.read_csv('/content/drive/MyDrive/PHAN TICH/data_1.csv', index_col='Unnamed: 0')

In [23]:
df_100 = df[(df['total_amount']<100)]

In [26]:
def r_mse(pred,y): return round(math.sqrt(((pred-y)**2).mean()), 5)

In [27]:
rf_model = load_pickle('/content/drive/MyDrive/PHAN TICH/rf_dropped_model.pkl')

In [130]:
cat_vars =['ratecodeid','pulocationid','dolocationid','extra','mta_tax','congestion_surcharge'] # các biến phân loại
cont_vars =['trip_distance','fare_amount','tip_amount','tolls_amount'] #các biến liên tục
dep_var = 'total_amount' # biến phụ thuộc
procs = [Categorify,Normalize] # chuyển các biến phân loại về dạng Category
splits = RandomSplitter(valid_pct=0.2)(range_of(df_100)) # chia 20% cho tập valid
to = TabularPandas(df_100, procs, cat_vars, cont_vars, dep_var, y_block=RegressionBlock(),
                   splits=splits, inplace=True, reduce_memory=True)

/usr/local/lib/python3.7/dist-packages/fastai/tabular/core.py:148: UserWarning: Using inplace with splits will trigger a pandas error. Set `pd.options.mode.chained_assignment=None` to avoid it.
  warn("Using inplace with splits will trigger a pandas error. Set `pd.options.mode.chained_assignment=None` to avoid it.")

#RF test

In [157]:
xs_test = to.train.xs[2000:3000]
y_test = to.train.y[2000:3000]

In [158]:
result_0 = pd.DataFrame({'predict': rf_model.predict(xs_test), 'target':y_test})
result_0[50:70]

          predict     target
771454  10.308792  10.300000
515689  14.756647  14.760000
549526  14.160734  14.160000
647304   8.982661   8.970000
906485  14.715750  14.760000
194987   9.281581   9.300000
189309   9.961729   9.950000
678748  12.948399  12.950000
553068  13.414320  13.300000
341535  17.066218  16.799999
230305  12.691602  12.740000
420734  10.306307  10.300000
934579  10.783813  10.780000
868728   9.303492   9.300000
108127   8.890034   8.800000
8391    18.388650  18.360001
571768  73.776822  73.699997
190586   7.298219   7.300000
176791   7.809987   7.800000
799421  20.271728  20.270000

In [159]:
r_mse(rf_model.predict(xs_test),y_test)

0.2792